/* You can add global styles to this file, and also import other style files */
@import "app-variables";

body {
  font-family: 'Roboto Condensed', sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;

  background: $app-background;
}

li {
  list-style: none;
}


//tree colors - should be removed
.node {
  fill: steelblue;
  stroke: none;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

