/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Roboto Condensed', sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;

  background: #fccb37;
  //background: #fccb37;
  //background: #f9e686;
}

li {
  list-style: none;
}

.node {
  fill: steelblue;
  stroke: none;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

