.transition-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  &.opening {
    .transition-layer__background {
      animation: cd-sequence 1.0s steps(24);
      animation-fill-mode: forwards;
    }
  }

  &.closing {
    .transition-layer__background {
      animation: cd-sequence-reverse 1.0s steps(24);
      animation-fill-mode: forwards;
    }
  }

  &__background {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-2%);
    transform: translateY(-50%) translateX(-2%);
    height: 100%;
    /* our sprite is composed of 25 frames */
    width: 2500%;
    background: url(../../../../../assets/ink.png) no-repeat 0 0;
    background-size: 100% 100%;
  }
}

@keyframes cd-sequence {
  0% {
    transform: translateY(-50%) translateX(-2%);
  }
  100% {
    transform: translateY(-50%) translateX(-98%);
  }
}

@keyframes cd-sequence-reverse {
  0% {

    transform: translateY(-50%) translateX(-98%);
  }
  100% {

    transform: translateY(-50%) translateX(-2%);
  }
}
